.card-img-top {
    max-width: 80px;
    max-height: 80px;
    padding: 8px;
}

.card {
    background-color: black;
}

div.wrapper-play {
    text-align: center;
}

div.wrapper-play .fa-play {
    display: inline-block;
    color: #001a4d;
    padding: 16px;
}




.card {
    background-color: #FAE3D9 !important;
}

#cardPortfolio{
    background-color: rgb(238, 203, 108) !important;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn{
    background-color: rgb(228, 52, 75) !important;
    text-align: center !important;
    margin: 16px;
  }