.card-img-top {
    max-width: 80px;
    max-height: 80px;
    padding: 8px;
}

.card {
    background-color: black;
}

div.card {
    text-align: center;
}

div.card .fa-play {
    display: inline-block;
    color: #001a4d;
}

.card {
    background-color: #FAE3D9 !important;
}