

@media screen and (min-width: 601px) {
    .nav-item{
        padding: 16px 8px 16px 8px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .nav-item{
        padding: 16px 8px 16px 16px;
    }

  }

.navbar{
    background-color:#4BBCF4;
}

.nav-link{
    color: #001A4D;
}



.card-img-me{
    max-width: 100px;
    max-height: 100px;
    padding: 16px;
}
