.App{
  background-color: #4BBCF4;
}

a:hover{
  color:rgb(228, 52, 75) !important;
  cursor: pointer;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h2,h1,h3,h5{
  font-family: 'Nexa-Bold';
}


@font-face {
  font-family: 'Nexa-Bold';
  src: url('./assets/fonts/Nexa-Bold.otf');
} 